.container {
  max-height: calc(100vh - 500px);
  overflow: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.section {
  composes: ml-10 from global;
  max-height: calc(100vh - 100px);
  max-width: 600px;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.stub {
  width: 524px;
}
