.container {
  /* max-height: 41vh; */
  max-height: calc(100vh - 500px);
  overflow: scroll;
  margin: 0;
  padding: 0;
}
.section {
  max-height: calc(100vh - 100px);
  max-width: 600px;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
}
