.container {
  max-width: 620px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
}

.number {
  composes: text text_type_digits-default mb-10 from global;
  text-align: center;
}

.title {
  composes: text text_type_main-medium mb-3 from global;
  /* margin-block-: 0; */
}

.status {
  composes: text text_type_main-small from global;
  color: var(--colors-interface-success);
}

.subtitle {
  composes: text text_type_main-medium mt-15 mb-6 from global;
  /* margin-block: 0; */
}

.list {
  composes: mr-6 from global;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style: none;
  padding: 0;
}

.ingredient {
  composes: mb-4 from global;
  display: flex;
  justify-content: space-between;
}

.img {
  border-radius: 50%;
  position:absolute;
  margin-left: 2px;
  height: 60px;
  width: 60px;
  object-fit: cover;
  background-color: var(--background);
}

.flexbox::before {
  content: "";
  position:relative;
  background: linear-gradient(to right, #801ab2, #4c4cff);
  width: 64px;
  height: 64px;
  border-radius: 50%;


}

.name {
  composes: text text_type_main-default from global;
  max-width: 320px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.price {
  composes: text text_type_digits-default from global;
}

.paragraph {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  composes: text text_type_main-default text_color_inactive from global;
}

.flexbox {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 16px;
}
