#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  /* @font-face {
    font-family: Arial;
    src: url();
  } */
}

.title {
  font-size: larger;
  color: red;
  text-align: center;
}
