.main {
  max-width: fit-content;
  max-height: calc(100vh - 98px);
  margin: auto;
  display: flex;
}

.main_error {
  composes: main;
  max-width: 700px;
  margin-top: 20vh;
  min-height: 300px;
  text-align: center;
}

.title {
  composes: text text_type_main-default text_color_inactive from global;
  margin: auto;
}

.main_preload {
  margin-top: 30vh;
}