.wrap {
  grid-area: content;
  max-height: calc(100vh - 200px);
}

.list {
  padding-inline-start: 0;
  margin-block: 0;
  list-style: none;
  max-height: inherit;
  max-width: 916px;
  overflow: scroll;
  padding-right: 8px;
}

.link {
  text-decoration: none;
  color: var(--text-primary-color);
}
