.container {
  composes: pt-10 pb-15 from global;
  background-color: #1c1c21;
  color: white;
  width: 720px;
  border-radius: 40px;
  box-sizing: border-box;
  position: absolute;
  min-height: fit-content;
  max-height: 85vh;
  text-align: center;
  padding-left: 45px;
  padding-right: 45px;
  overflow: scroll;
}

.icon {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 40px;
  top: 50px;
  cursor: pointer;
}
