.nav {
}

.list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: max-content max-content 1fr;
}

.listItem {
  border: 1px solid transparent;
  border-radius: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.listItem:last-of-type {
  justify-self: flex-end;
  margin: 0;
}

.link {
  composes: text text_type_main-default pt-4 pb-4 pl-5 pr-5 from global;
  display: flex;
  text-decoration: none;
}

.inactive {
  composes: link;
  color: var(--text-inactive-color);
}
.active {
  composes: link;
  color: var(--text-primary-color);
}
