.nav {
}

.list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: max-content max-content 1fr;
}

.listItem {
  border: 1px solid transparent;
  border-radius: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.listItem:last-of-type {
  justify-self: flex-end;
  margin: 0;
}

.link {
  display: flex;
  /* height: 100%;
  width: 100%;
  align-items: center; */
}

.text {
}
