.link {
  color: var(--text-primary-color);
  text-decoration: none;
}
.container {
  composes: ml-4 mb-8 from global;
  position: relative;
  max-width: 272px;
  min-height: 208px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered {
  text-align: center;
}
.image {
  width: 100%;
  box-sizing: border-box;
}
