
.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    gap: 8px;
  }

.opacity_visible {
  opacity: 0
}

.opacity_invisible {
  opacity: 1
}